<div class="c-card mb-4 c-card-hover c-card-branch-inf pb-0">
    <div class="c-card-body">
        <div class="c-header justify-content-center">
            <div class="c-title text-20">Shipping charges</div>
    
            <div class="c-badge text-success">
                <span>Active</span>
            </div>
            
            <div class="c-actions hover-element">
                <button 
                    type="button" 
                    class="btn btn-rounded btn-secondary"
                    (click)="handleModal(ShippingChargesModal)"      
                >
                    <i class="i-Pen-5 me-0"></i>
                </button>
            </div>
        </div>

        <div class="c-list gap-3">
            <div class="item-type-1 grid-3x pb-3">
                <div class="box-info">
                    <div class="label">Account type:</div>
                    <div class="value">Prepaid</div>
                </div>

                <div class="box-info">
                    <div class="label">Shipping charges credit:</div>
                    <div class="value">10600</div>
                </div>

                <div class="box-info">
                    <div class="label">Shipping charges credit limit:</div>
                    <div class="value">250</div>
                </div>
            </div>

            <div class="item-type-1 grid-3x pb-3">
                <div class="box-info">
                    <div class="label">VAT rate:</div>
                    <div class="value">20%</div>
                </div>

                <div class="box-info">
                    <div class="label">TAX rate</div>
                    <div class="value">15%</div>
                </div>

                <div class="box-info">
                    <div class="label">Invoicing frequency:</div>
                    <div class="value">Monthly</div>
                </div>
            </div>

            <div class="item-type-1 grid-3x pb-3">
                <div class="box-info">
                    <div class="label">Invoicing group by:</div>
                    <div class="value">Shipment</div>
                </div>

                <div class="box-info">
                    <div class="label">Invoicing aggregation criteria:</div>
                    <div class="value">Consignee name</div>
                </div>

                <div class="box-info">
                    <div class="label">Calculate weight extra rate logic:</div>
                    <div class="value">Accumulative</div>
                </div>
            </div>

            <div class="item-type-1 grid-3x pb-3">
                <div class="box-info">
                    <div class="label">Handling charges fees:</div>
                    <div class="value">-</div>
                </div>

                <div class="box-info">
                    <div class="label">Numerical calculation triggers:</div>
                    <div class="value">New shipment created</div>
                </div>

                <div class="box-info">
                    <div class="label">Invoice triggers:</div>
                    <div class="value">New shipment created</div>
                </div>
            </div>
        </div>          
    </div>
</div>

<ng-template #ShippingChargesModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Shipping charges</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="shippingChargesForm" id="shippingChargesForm" (ngSubmit)="submitShippingChargesForm()">
            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Account type</label>
                    <select 
                        class="form-control"
                        formControlName="AccountType"
                        #accountType
                        [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('AccountType')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose type</option>
                        <option value="Prepaid">Prepaid</option>
                        <option value="Postpaid">Postpaid</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <ng-container *ngIf="accountType.value !== 'Postpaid'">
                    <div class="col-12 col-sm-6 form-group required">
                        <label>Shipping charges credit</label>
                        <div class="d-flex gap-2" [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('Credit')?.errors">
                            <input 
                                type="text" 
                                class="form-control"
                                formControlName="Credit"
                                [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('Credit')?.errors"
                                placeholder="Enter value" 
                            >
                            <button 
                                class="btn btn-rounded btn-secondary" 
                                type="button" 
                                style="min-width: fit-content;" 
                                (click)="handleShippingCreditModal(ShippingCredit)"
                            >
                                Top up
                            </button>
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 form-group required">
                        <label>Shipping charges credit limit</label>
                        <input 
                            type="text" 
                            class="form-control"
                            formControlName="CreditLimit"
                            [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('CreditLimit')?.errors"
                            placeholder="Enter value" 
                        >
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                </ng-container>

                <div class="col-12 col-sm-6 form-group" [class.required]="accountType.value !== 'Postpaid'">
                    <label>VAT rate</label>
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="VatRate"
                        [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('VatRate')?.errors"
                        placeholder="Enter value" 
                    >
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input
                        #isShippingTaxApplicable
                        type="checkbox"
                        formControlName="isTaxApplicable"
                    >
                    <span>TAX applicable</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <ng-container *ngIf="isShippingTaxApplicable.checked">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group required mb-0">
                        <label>TAX rate</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="TaxRate"
                            [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('TaxRate')?.errors"
                            placeholder="Enter value"
                        >
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                </div>
            </ng-container>

            <hr />

            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Invoicing frequency</label>
                    <select 
                        class="form-control"
                        formControlName="InvoicingFrequency"
                        #InvoicingFrequency
                        (change)="updateRunAt()"
                        [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('InvoicingFrequency')?.errors"
                    >
                        <option value="" disabled selected hidden>Autoinvoice</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <ng-container *ngIf="InvoicingFrequency.value">
                    <div class="col-12 col-sm-6 form-group required">
                        <label>Run at</label>

                        <ng-container *ngIf="InvoicingFrequency.value === 'Daily'">
                            <select 
                                class="form-control"
                                formControlName="RunAt"
                                [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('RunAt')?.errors"
                            >
                                <option value="" disabled selected hidden>Choose time</option>
                                <option value="1">Option 2</option>
                                <option value="2">Option 3</option>
                            </select>
                        </ng-container>

                        <ng-container *ngIf="InvoicingFrequency.value === 'Weekly'">
                            <select 
                                class="form-control"
                                formControlName="RunAt"
                                [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('RunAt')?.errors"
                            >
                                <option value="" disabled selected hidden>Choose day</option>
                                <option value="1">Option 2</option>
                                <option value="2">Option 3</option>
                            </select>
                        </ng-container>

                        <ng-container *ngIf="InvoicingFrequency.value === 'Monthly'">
                            <div class="input-group">
                                <p-calendar 
                                        formControlName="RunAt"
                                        [class.ng-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('RunAt')?.errors"
                                        inputStyleClass="form-control" 
                                        readonlyInput="true"
                                        placeholder="dd"
                                        dateFormat="dd"
                                        (onSelect)="onDateChange($event, 'RunAt', 'shippingChargesForm')"
                                        showClear="true">
                                </p-calendar>
                                <div class="invalid-feedback">This field is required</div>
                                <div class="input-group-append">
                                    <button class="btn"  type="button">
                                        <i class="i-Calendar-4"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                </ng-container>

                <div class="col-12 col-sm-6 form-group required">
                    <label>Invoicing group by</label>
                    <select 
                        class="form-control"
                        formControlName="InvoicingGroup"
                        [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('InvoicingGroup')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose group</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Invoicing aggregation criteria</label>
                    <select 
                        class="form-control"
                        formControlName="InvoicingCriteria"
                    >
                        <option value="" disabled selected hidden>Choose criteria</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>Calculate weight extra rate logic</label>
                    <select 
                        class="form-control"
                        formControlName="WeightRateLogic"
                        [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('WeightRateLogic')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose logic</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input
                        #isChargesApplicable
                        type="checkbox"
                        formControlName="isChargesApplicable"
                    >
                    <span>Handling charges applicable</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <ng-container *ngIf="isChargesApplicable.checked">
                <div class="row">
                    <div class="col-12 col-sm-6 form-group mb-0">
                        <label>Handling charges fees</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="ChargesFees"
                            placeholder="Enter value"
                        >
                    </div>
                </div>
            </ng-container>

            <hr />

            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label>Calculation triggers</label>
                    <select 
                        class="form-control"
                        formControlName="CalculationTriggers"
                    >
                        <option value="" disabled selected hidden>Choose trigger</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Invoice triggers</label>
                    <select 
                        class="form-control"
                        formControlName="InvoiceTriggers"
                    >
                        <option value="" disabled selected hidden>Choose trigger</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>Status</label>
                    <select 
                        class="form-control"
                        formControlName="Status"
                        [class.is-invalid]="isSubmittedShippingChargesForm && shippingChargesForm.get('Status')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose status</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetShippingChargesForm()"
            tabindex="-1"
        >
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitShippingChargesForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1"
        >
            Save
        </button>
    </div>
</ng-template>

<ng-template #ShippingCredit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Shipping charges credit</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" tabindex="-1"></button>
    </div>

    <div class="modal-body" id="dutiesCredit">
        <div class="note form-group">
            <label style="text-align: left;">Amount</label>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Enter value"
            >
        </div>
        <div class="actions">
            <button type="button" class="btn btn-secondary btn-rounded" (click)="modal.close('Close click')" tabindex="-1">Cancel</button>
            <button type="button" class="btn btn-primary btn-rounded" (click)="modal.close('Close click')" ngbAutoFocus>Top up</button>
        </div>
    </div>
</ng-template>