<div class="billing-settings">
    <div class="breadcrumb">
        <h1>Billing settings</h1>

        <ul>
			<li><strong>Customers</strong></li>
			<li><a href="#/customers/customers-management">Customers management</a></li>
			<li><a href="#/customers/customers-profile">Company commercial name</a></li>
            <li><a href="#/customers/branch">Branch name</a></li>
            <li>Billing settings</li>
		</ul>
    </div>

    <div class="content-block mw-100">
        <div class="row">
            <div class="col-12 col-xl-7 d-flex flex-column">
                <app-card-general-information></app-card-general-information>

                <app-card-shipping-charges class="d-flex" style="flex: 2"></app-card-shipping-charges>
            </div>

            <div class="col-12 col-xl-5">
                <app-card-cod-charges></app-card-cod-charges>

                <app-card-customs-duty></app-card-customs-duty>
            </div>
        </div>
        <app-card-billing-profiles></app-card-billing-profiles>
    </div>
</div>