<div class="c-card mb-4">
    <div class="c-card-body">
        <div class="c-header">
            <div class="c-title text-20">Customers dashboard</div>

            <div class="c-actions">
                <button type="button" class="btn btn-rounded btn-secondary">
                    View more
                </button>
            </div>
        </div>

        <div class="c-list c-list-statistics">
            <div class="item-info">
                <div class="title">Today’s Login</div>
                <div class="body">
                    <i class="icon i-MaleFemale"></i>
                    <span class="value">21</span>
                </div>
            </div>

            <div class="item-info">
                <div class="title">Sales</div>
                <div class="body">
                    <i class="icon i-Wallet"></i>
                    <span class="value">4421</span>
                </div>
            </div>

            <div class="item-info">
                <div class="title">Orders</div>
                <div class="body">
                    <i class="icon i-Bag-Coins"></i>
                    <span class="value">442</span>
                </div>
            </div>

            <div class="item-info">
                <div class="title">Expense</div>
                <div class="body">
                    <i class="icon i-Pie-Chart-3"></i>
                    <span class="value">210</span>
                </div>
            </div>
        </div>
    </div>
</div>
