<div class="c-card mb-4">
    <div class="c-card-body">
        <div class="c-header justify-content-center">
            <div class="c-title text-20">Billing settings</div>

            <div class="c-actions action-button-mobile">
                <ng-container *ngIf="dataCustomerBilling.length; else manageBilling">
                    <a class="btn btn-rounded btn-secondary action-button" href="#/customers/billing-settings">View details</a>
                </ng-container>
                
                <ng-template #manageBilling>
                    <a class="btn btn-rounded btn-secondary action-button" href="#/customers/manage-billing-settings">Manage settings</a>
                </ng-template>
            </div>
        </div>

        <ng-container *ngIf="dataCustomerBilling.length; else notData">
            <div class="c-list">
                <div class="item-type-2" *ngFor="let customer of dataCustomerBilling">
                    <div class="item-header">
                        <div class="item-title">{{customer.name}}</div>

                    </div>
    
                    <div class="item-list grid-3x">
                        <div class="box-info" *ngFor="let info of customer.info">
                            <div class="label">{{info.label}}</div>
                            <div class="value">{{info.value}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #notData>
            <app-not-data [text]="'Manage billing settings'"></app-not-data>
        </ng-template>
    </div>
</div>