<div class="c-card mb-4">
    <div class="c-card-body">
        <div class="c-header justify-content-center">
            <div class="c-title text-20">SLA contracts</div>

            <div class="c-actions" [ngClass]="dataCustomerSla.length > 3 ? 'action-button-container' : 'action-button-mobile'">
                <ng-container *ngIf="dataCustomerSla.length > 3">
                    <a class="btn btn-rounded btn-secondary action-button" href="#/customers/sla">View all</a>
                </ng-container>

                <button 
                    type="button" 
                    class="btn btn-rounded btn-secondary action-button"
                    (click)="handleModal(addSlaPopup)"
                >
                    <i class="i-Plus"></i>
                    <span>Add SLA contract</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="dataCustomerSla.length; else notData">
            <div class="c-list">
                <div class="item-type-2" *ngFor="let customer of dataCustomerSla.slice(0, 3)">
                    <div class="item-header">
                        <div class="item-title">{{customer.name}}</div>
    
                        <div ngbDropdown class="dropdown-more lg-up-hidden">
                            <button ngbDropdownToggle class="btn btn-rounded btn-secondary">
                                <i class="more-vertical me-0">
                                    <span></span>
                                </i>
                            </button>
    
                            <div ngbDropdownMenu>
                                <button 
                                    class="dropdown-item"
                                    (click)="handleModal(editSlaPopup)"
                                >
                                    Edit
                                </button>
                                <button class="dropdown-item">Delete</button>
                            </div>
                        </div>
    
                        <div class="actions lg-down-hidden">
                            <button type="button" class="btn btn-rounded btn-secondary btn-icon-danger">
                                <i class="i-Close-Window me-0"></i>
                            </button>
    
                            <button 
                                type="button" 
                                class="btn btn-rounded btn-secondary"
                                (click)="handleModal(editSlaPopup)"
                            >
                                <i class="i-Pen-5 me-0"></i>
                            </button>
                        </div>
                    </div>
    
                    <div class="item-list grid-3x">
                        <div class="box-info" *ngFor="let info of customer.info">
                            <div class="label">{{info.label}}</div>
                            <div class="value">{{info.value}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #notData>
            <app-not-data [text]="'Add SLA contract'"></app-not-data>
        </ng-template>
    </div>
</div>

<!-- SLA Form -->
<ng-template #addSlaPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add SLA contract</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="slaAddForm" id="slaAddForm" (ngSubmit)="submitSlaAddForm()">
            <div class="form-group required">
                <label>SLA</label>
                <select 
                    class="form-control" 
                    formControlName="Sla"
                    [class.is-invalid]="isSubmittedSlaAddForm && slaAddForm.get('Sla')?.errors"
                >
                    <option value="" disabled selected hidden>Choose contract</option>
                    <option value="option_1">Option 1</option>
                    <option value="option_2">Option 2</option>
                </select>
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group required">
                <label>Preferred contact language</label>
                <select 
                    class="form-control" 
                    formControlName="PreferredContactLanguage"
                    [class.is-invalid]="isSubmittedSlaAddForm && slaAddForm.get('PreferredContactLanguage')?.errors"
                >
                    <option value="" disabled selected hidden>Choose language</option>
                    <option value="option_1">Option 1</option>
                    <option value="option_1">Option 2</option>
                </select>

                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="CivilIdVerification"
                    >
                    <span>Civil ID verification</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="HardCopyContract"
                    >
                    <span>Hard copy contract</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="SignedRunsheet"
                    >
                    <span>Signed runsheet</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="LargeLoads"
                    >
                    <span>Large loads</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="CriticalMaterial"
                    >
                    <span>Critical material</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="DocumentReturn"
                    >
                    <span>Document return</span>
                    <span class="checkmark"></span>
                </label>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetSlaAddForm()"
            tabindex="-1"
        >
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitSlaAddForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1"
        >
            Save changes
        </button>
    </div>
</ng-template>

<ng-template #editSlaPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit SLA contract</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="slaEditForm" id="slaEditForm" (ngSubmit)="submitSlaEditForm()">
            <div class="form-group required">
                <label>SLA</label>
                <select 
                    class="form-control" 
                    formControlName="Sla"
                    [class.is-invalid]="isSubmittedSlaEditForm && slaEditForm.get('Sla')?.errors"
                >
                    <option value="" disabled selected hidden>Choose contract</option>
                    <option value="option_1">Option 1</option>
                    <option value="option_2">Option 2</option>
                </select>
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group required">
                <label>Preferred contact language</label>
                <select 
                    class="form-control"
                    formControlName="PreferredContactLanguage"
                    [class.is-invalid]="isSubmittedSlaEditForm && slaEditForm.get('PreferredContactLanguage')?.errors"
                >
                    <option value="" disabled selected hidden>Choose language</option>
                    <option value="option_1">Option 1</option>
                    <option value="option_1">Option 2</option>
                </select>

                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="CivilIdVerification"
                    >
                    <span>Civil ID verification</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="HardCopyContract"
                    >
                    <span>Hard copy contract</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="SignedRunsheet"
                    >
                    <span>Signed runsheet</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="LargeLoads"
                    >
                    <span>Large loads</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="CriticalMaterial"
                    >
                    <span>Critical material</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="DocumentReturn"
                    >
                    <span>Document return</span>
                    <span class="checkmark"></span>
                </label>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetSlaEditForm()"
            tabindex="-1"
        >
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitSlaEditForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1"
        >
            Save changes
        </button>
    </div>
</ng-template>
