<div class="c-card mb-4">
    <div class="c-card-body">
        <div class="c-header justify-content-center">
            <div class="c-title text-20">Addresses</div>

            <div class="c-actions" [ngClass]="dataCustomerAddress.length > 3 ? 'action-button-container' : 'action-button-mobile'">
                <ng-container *ngIf="dataCustomerAddress.length > 3">
                    <a class="btn btn-rounded btn-secondary action-button" href="#/customers/addresses">View all</a>
                </ng-container>

                <button 
                    type="button" 
                    class="btn btn-rounded btn-secondary action-button"
                    (click)="handleModal(AddAddressPopup)"
                >
                    <i class="i-Plus"></i>
                    <span>Add address</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="dataCustomerAddress.length; else notData">
            <div class="c-list">
                <div class="item-type-2" *ngFor="let customer of dataCustomerAddress.slice(0, 3)">
                    <div class="item-header">
                        <div class="item-title">{{customer.name}}</div>
    
                        <div class="c-badge text-primary-grey">
                            <span>Billing address</span>
                        </div>
    
                        <div ngbDropdown class="dropdown-more lg-up-hidden">
                            <button ngbDropdownToggle class="btn btn-rounded btn-secondary">
                                <i class="more-vertical me-0">
                                    <span></span>
                                </i>
                            </button>
    
                            <div ngbDropdownMenu>
                                <button 
                                    class="dropdown-item"
                                    (click)="handleModal(EditAddressPopup)"
                                >
                                    Edit
                                </button>
                                <button class="dropdown-item">Delete</button>
                            </div>
                        </div>
    
                        <div class="actions lg-down-hidden">
                            <button type="button" class="btn btn-rounded btn-secondary btn-icon-danger">
                                <i class="i-Close-Window me-0"></i>
                            </button>
    
                            <button 
                                type="button" 
                                class="btn btn-rounded btn-secondary"
                                (click)="handleModal(EditAddressPopup)"
                            >
                                <i class="i-Pen-5 me-0"></i>
                            </button>
                        </div>
                    </div>
    
                    <div class="item-list grid-3x">
                        <div class="box-info" *ngFor="let info of customer.info">
                            <div class="label">{{info.label}}</div>
                            <div class="value">{{info.value}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #notData>
            <app-not-data [text]="'Add address'"></app-not-data>
        </ng-template>
    </div>
</div>

<ng-template #AddAddressPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add Address</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="addressAddForm" id="addressAddForm" (ngSubmit)="submitAddressAddForm()">
            <div class="form-group">
                <label>Contact name</label>
                <input 
                    type="text" 
                    placeholder="Enter name"
                    class="form-control" 
                    formControlName="ContactName"
                >
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Email</label>
                    <input 
                        type="text" 
                        placeholder="Enter email" 
                        class="form-control" 
                        formControlName="Email"
                        [class.is-invalid]="isSubmittedAddressAddForm && addressAddForm.get('Email')?.errors"
                    >
                    <div *ngIf="isSubmittedAddressAddForm && addressAddForm.get('Email')?.errors" class="invalid-feedback">
                        <div *ngIf="addressAddForm.get('Email').errors['required']">
                            This field is required
                        </div>
                        <div *ngIf="addressAddForm.get('Email').errors['invalidEmail']">
                            Please enter a valid email address (Ex: example@domain.com).
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>Phone</label>
                    <ngx-mat-intl-tel-input
                        [preferredCountries]="['jo', 'us', 'gb']"
                        [enablePlaceholder]="true"
                        [enableSearch]="true"
                        name="Phone"
                        #phoneInput
                        describedBy="phoneInput"
                        class="form-control input-group input-phone-selector"
                        formControlName="Phone"
                        [class.is-invalid]="isSubmittedAddressAddForm && addressAddForm.get('Phone')?.errors"
                    ></ngx-mat-intl-tel-input>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>

            <div class="form-group required">
                <label>Address type</label>
                <select 
                    class="form-control" 
                    formControlName="AddressType"
                    [class.is-invalid]="isSubmittedAddressAddForm && addressAddForm.get('AddressType')?.errors"
                >
                    <option value="" disabled selected hidden>Choose type</option>
                    <option value="1">Option 2</option>
                    <option value="2">Option 3</option>
                </select>
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Country</label>
                    <mat-select-country  
                        class="form-control select-country" 
                        #addCountry
                        [class.is-invalid]="isSubmittedAddressAddForm && addressAddForm.get('CountryCode')?.errors"
                        describedBy="CountryCode"
                        placeHolder="Choose country" 
                        (onCountrySelected)="handleCountrySelected('addressAddForm', 'CountryCode', addCountry)"
                        autocomplete="no">
                    </mat-select-country>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>State</label>
                    <select 
                        class="form-control"
                        formControlName="State"
                    >
                        <option value="" disabled selected hidden>Choose state</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>City</label>
                    <select 
                        class="form-control"
                        formControlName="CityCode"
                        [class.is-invalid]="isSubmittedAddressAddForm && addressAddForm.get('CityCode')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose city</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Zip code</label>
                    <input 
                        type="text" 
                        placeholder="Enter zip code"
                        class="form-control"
                        formControlName="ZipCode"
                    >
                </div>
            </div>

            <div class="form-group required">
                <label>Address line 1</label>
                <input 
                    type="text"
                    placeholder="Enter address"
                    class="form-control"
                    formControlName="AddressLine1"
                    [class.is-invalid]="isSubmittedAddressAddForm && addressAddForm.get('AddressLine1')?.errors"
                >
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group">
                <label>Address line 2</label>
                <input 
                    type="text"
                    placeholder="Enter address"
                    class="form-control"
                    formControlName="AddressLine2"
                >
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label>Location code 1</label>
                    <input 
                        type="text"
                        placeholder="Enter location code"
                        class="form-control"
                        formControlName="LocationCode1"
                    >
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Location code 2</label>
                    <input 
                        type="text"
                        placeholder="Enter location code"
                        class="form-control"
                        formControlName="LocationCode2"
                    >
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Location code 3</label>
                    <input 
                        type="text"
                        placeholder="Enter location code"
                        class="form-control"
                        formControlName="LocationCode3"
                    >
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
      <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetAddressAddForm(phoneInput, addCountry)"
            tabindex="-1"
        >
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitAddressAddForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1"
        >
            Save changes
        </button>
    </div>
</ng-template>

<ng-template #EditAddressPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Address</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="addressEditForm" id="addressEditForm" (ngSubmit)="submitAddressEditForm()">
            <div class="form-group">
                <label>Contact name</label>
                <input 
                    type="text" 
                    placeholder="Enter name"
                    class="form-control" 
                    formControlName="ContactName"
                >
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Email</label>
                    <input 
                        type="text" 
                        placeholder="Enter email" 
                        class="form-control" 
                        formControlName="Email"
                        [class.is-invalid]="isSubmittedAddressEditForm && addressEditForm.get('Email')?.errors"
                    >
                    <div *ngIf="isSubmittedAddressEditForm && addressEditForm.get('Email')?.errors" class="invalid-feedback">
                        <div *ngIf="addressEditForm.get('Email').errors['required']">
                            This field is required
                        </div>
                        <div *ngIf="addressEditForm.get('Email').errors['invalidEmail']">
                            Please enter a valid email address (Ex: example@domain.com).
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>Phone</label>
                    <ngx-mat-intl-tel-input
                        [enablePlaceholder]="true"
                        [preferredCountries]="['jo', 'us', 'gb']"
                        [enableSearch]="true"
                        name="phoneInput"
                        #phoneInput
                        describedBy="phoneInput"
                        class="form-control input-group input-phone-selector"
                        formControlName="Phone"
                        placeholder=""
                        [class.is-invalid]="isSubmittedAddressEditForm && addressEditForm.get('Phone')?.errors"
                    ></ngx-mat-intl-tel-input>
                    <div class="invalid-feedback">
                        This field is required
                    </div>

                </div>
            </div>

            <div class="form-group required">
                <label>Address type</label>
                <select 
                    class="form-control" 
                    formControlName="AddressType"
                    [class.is-invalid]="isSubmittedAddressEditForm && addressEditForm.get('AddressType')?.errors"
                >
                    <option value="" disabled selected hidden>Choose type</option>
                    <option value="1">Option 2</option>
                    <option value="2">Option 3</option>
                </select>
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Country</label>
                    <mat-select-country  
                        class="form-control select-country" 
                        #editCountry
                        [class.is-invalid]="isSubmittedAddressEditForm && addressEditForm.get('CountryCode')?.errors"
                        describedBy="CountryCode"
                        placeHolder="Choose country" 
                        (onCountrySelected)="handleCountrySelected('addressEditForm', 'CountryCode', editCountry)"
                        autocomplete="no">
                    </mat-select-country>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>State</label>
                    <select 
                        class="form-control"
                        formControlName="State"
                    >
                        <option value="" disabled selected hidden>Choose state</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>City</label>
                    <select 
                        class="form-control"
                        formControlName="CityCode"
                        [class.is-invalid]="isSubmittedAddressEditForm && addressEditForm.get('CityCode')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose city</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Zip code</label>
                    <input 
                        type="text" 
                        placeholder="Enter zip code"
                        class="form-control"
                        id="AddressAddZipCode"
                    >
                </div>
            </div>

            <div class="form-group required">
                <label>Address line 1</label>
                <input 
                    type="text"
                    placeholder="Enter address"
                    class="form-control"
                    formControlName="AddressLine1"
                    [class.is-invalid]="isSubmittedAddressEditForm && addressEditForm.get('AddressLine1')?.errors"
                >
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group">
                <label>Address line 2</label>
                <input 
                    type="text"
                    placeholder="Enter address"
                    class="form-control"
                    formControlName="AddressLine2"
                >
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label>Location code 1</label>
                    <input 
                        type="text"
                        placeholder="Enter location code"
                        class="form-control"
                        formControlName="LocationCode1"
                    >
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Location code 2</label>
                    <input 
                        type="text"
                        placeholder="Enter location code"
                        class="form-control"
                        formControlName="LocationCode2"
                    >
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Location code 3</label>
                    <input 
                        type="text"
                        placeholder="Enter location code"
                        class="form-control"
                        formControlName="LocationCode3"
                    >
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
      <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetAddressEditForm(phoneInput, editCountry)"
            tabindex="-1"
        >
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitAddressEditForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1"
        >
            Save changes
        </button>
    </div>
</ng-template>
