<div class="c-card c-card-hover c-card-branch-inf mb-4">
    <div class="c-card-body">
        <div class="c-header justify-content-center">
            <div class="c-title text-20">Branch information</div>
    
            <div class="c-badge text-primary">
                <span>Main branch</span>
            </div>
            
            <div class="c-actions hover-element">
                <button 
                    type="button" 
                    class="btn btn-rounded btn-secondary"
                    (click)="handleModal(EditBranchModal)"      
                >
                    <i class="i-Pen-5 me-0"></i>
                </button>
            </div>
        </div>
    
        <div class="c-list">
            <ng-container *ngFor="let items of dataBranchInfo; let i = index">
                <div class="item-type-1 grid-3x">
                    <div *ngFor="let item of items" class="box-info">
                        <div class="d-flex align-items-start gap-2">
                            <div class="label">{{item.label}}</div>
                            <ng-container *ngIf="item.label === 'IOSS:' || item.label === 'EORI:'">
                                <div class="d-flex align-items-center gap-2 hint-branch" ngbDropdown>
                                    <i ngbDropdownToggle class="i-Information event-link ml-2"></i>
                                    <div ngbDropdownMenu class="p-1 hint-dropdown pe-none">
                                        <a *ngIf="item.label === 'IOSS:'" class="dropdown-item">Import One-Stop Shop</a>
                                        <a *ngIf="item.label === 'EORI:'" class="dropdown-item">Economic Operators Registration<br>and Identification number</a>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="value">{{item.value}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #EditBranchModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Branch information</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="branchInfoForm" id="branchInfoForm" (ngSubmit)="submitBranchInfoForm()">
            <div class="form-group required">
                <label>Trading name</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="TradingName"
                    [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm.get('TradingName')?.errors"
                    placeholder="Company commercial name" 
                >
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                    <label>Currency code</label>
                    <select 
                        class="form-control"
                        formControlName="CurrencyCode"
                        [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm.get('CurrencyCode')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose code</option>
                        <option value="option_1">Option 1</option>
                        <option value="option_1">Option 2</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>

                <div class="col-12 col-sm-6 form-group">
                    <label>Consolidation query</label>
                    <select 
                        class="form-control"
                        formControlName="ConsolidationQuery"
                    >
                        <option value="" disabled selected hidden>Choose query</option>
                        <option value="ShipperReferenceNumber">Shipper reference number</option>
                        <option value="ConsigneePhoneNumber">Consignee Phone Number</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>VAT number</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="VATNumber"
                    placeholder="Enter VAT number" 
                >
            </div>

            <div class="form-group">
                <label>EORI</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="EORINumber"
                    placeholder="Enter EORI" 
                >
            </div>

            <div class="form-group">
                <label>IOSS</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="IOSSNumber"
                    placeholder="Enter IOSS" 
                >
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input 
                        type="checkbox"
                        formControlName="AllowMultiPiece"
                    >
                    <span>Allow multi piece</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <hr />
        
            <div class="form-group required">
                <label>Account type</label>
                <select 
                    class="form-control"
                    formControlName="AccountType"
                    [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm.get('AccountType')?.errors"
                >
                    <option value="" disabled selected hidden>Choose type</option>
                    <option value="option_1">Option 1</option>
                    <option value="option_1">Option 2</option>
                </select>
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group">
                <label>License registration number</label>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="LicenseRegistrationNumber"
                    placeholder="Enter license registration number" 
                >
            </div>
            
            <div class="row">
                <div class="col-12 col-sm-6 form-group">
                    <label>GPI</label>
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="GPI"
                        placeholder="Enter GPI" 
                    >
                </div>

                <div class="col-12 col-sm-6 form-group required">
                    <label>Preferred contact language</label>
                    <select 
                        class="form-control"
                        formControlName="PreferredContactLanguage"
                        [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm.get('PreferredContactLanguage')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose language</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>

            <div class="form-field">
                <label class="checkbox checkbox-primary text-13">
                    <input
                        #isApiUser
                        type="checkbox"
                        formControlName="IsAPIUser"
                    >
                    <span>Is API user</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <ng-container *ngIf="isApiUser.checked">
                <div class="form-group">
                    <label>API user name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="APIUserName"
                        placeholder="Enter user name"
                    >
                </div>

                <div class="form-group">
                    <label>API user password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        formControlName="APIPassword"
                        placeholder="Enter password"
                    >
                </div>
            </ng-container>

            <div class="form-field">
                <label 
                    class="checkbox checkbox-primary text-13"
                >
                    <input
                        #isSendEInvoice
                        type="checkbox"
                        formControlName="SendEInvoice"
                        required
                    >
                    <span>Send E-invoice</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <ng-container *ngIf="isSendEInvoice.checked">
                <div class="form-group">
                    <label>Branch name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="BranchName"
                        placeholder="Enter branch name"
                    >
                </div>

                <div class="form-group required">
                    <label>File name scheme</label>
                    <input 
                        type="text" 
                        placeholder="File name scheme" 
                        class="form-control" 
                        formControlName="FileNameScheme"
                        [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm .get('FileNameScheme')?.errors"
                    >
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
    
                <div class="form-group required">
                    <label>Format type</label>
                    <select 
                        class="form-control"
                        formControlName="FormatType"
                        [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm .get('FormatType')?.errors"
                    >
                        <option value="" disabled selected hidden>Choose type</option>
                        <option value="option_1">Option 1</option>
                        <option value="option_1">Option 2</option>
                    </select>
    
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
    
                <div class="form-group required">
                    <label>Destination type</label>
                    <select 
                        class="form-control"
                        (change)="handleDestinationType($event)"
                        formControlName="DestinationType"
                        [class.is-invalid]="isSubmittedBranchInfoForm && branchInfoForm .get('DestinationType')?.errors"
                    >   
                        <option value="" disabled selected hidden>Choose type</option>
                        <option value="EmailLink">Email link</option>
                        <option value="EmailWithAttachment">Email with attachment</option>
                        <option value="FileSystem">File System</option>
                        <option value="FTP">FTP</option>
                    </select>
    
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
    
                <ng-container *ngIf="activeDestinationType=='EmailLink'
                    || activeDestinationType=='EmailWithAttachment'">
                    <div class="form-group">
                        <label>To Email</label>
                        <input 
                            type="text" 
                            placeholder="Enter email"
                            class="form-control"
                            name=""
                        >
                    </div>
    
                    <div class="form-group">
                        <label>Cc</label>
                        <input type="text" placeholder="Enter cc" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-group">
                        <label>Bcc</label>
                        <input type="text" placeholder="Enter bcc" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" placeholder="Enter subject" class="form-control" id="" name="">
                    </div>
    
                    <div class="col-md-12 form-group">
                        <label>Body</label>
                        <textarea class="form-control form-control-rounded" placeholder="Text" style="height: 56px"></textarea>
                    </div>
                </ng-container>
    
                <ng-container *ngIf="activeDestinationType=='FileSystem'">
                    <div class="form-group">
                        <label>File path</label>
                        <input type="text" placeholder="Enter file path" class="form-control" id="" name="">
                    </div>
                </ng-container>
    
                <ng-container *ngIf="activeDestinationType=='FTP'">
                    <div class="form-group">
                        <label>Server</label>
                        <input type="text" placeholder="Enter server" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-group">
                        <label>Port</label>
                        <input type="text" placeholder="Enter port" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-group">
                        <label>File path</label>
                        <input type="text" placeholder="Enter file path" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" placeholder="Enter user name" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" placeholder="Enter password" class="form-control" id="" name="">
                    </div>
    
                    <div class="form-field">
                        <label class="checkbox checkbox-primary text-13">
                            <input type="checkbox">
                            <span>Secured</span>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </ng-container>
            </ng-container>

            <hr />

             <div class="form-field">
                <div class="label mb-2">Logo</div>

                <div class="upload-file mb-1">
                    <input 
                        type="file"
                        hidden="hidden"
                        id="file" 
                        formControlName="Logo"
                    />
                    <label for="file">
                        <span class="upload-file-value">Choose file</span>
                        <span class="upload-file-btn">Browse</span>
                    </label>
                </div>

                <div class="form-field-subtitle">
                    Recommended logo size: 180x180px (jpg, png)
                </div>
             </div>
        </form>
    </div>

    <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetBranchInfoForm()"
            tabindex="-1"
        >
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitBranchInfoForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1"
        >
            Save changes
        </button>
    </div>
</ng-template>
