<div class="c-card c-card-hover mb-4">
    <div class="c-card-body">
        <div class="c-header justify-content-center">
            <div class="c-title text-20">E-invoice</div>

            <div class="c-actions hover-element">
                <div ngbDropdown class="dropdown-more lg-up-hidden">
                    <button ngbDropdownToggle class="btn btn-rounded btn-secondary m-0">
                        <i class="more-vertical me-0">
                            <span></span>
                        </i>
                    </button>
    
                    <div ngbDropdownMenu>
                        <button 
                            class="dropdown-item"
                            (click)="handleModal(editEInvoicePopup)"
                        >
                            Edit
                        </button>
                        <button class="dropdown-item">Delete</button>
                    </div>
                </div>
    
                <div class="actions lg-down-hidden">
                    <button type="button" class="btn btn-rounded btn-secondary btn-icon-danger">
                        <i class="i-Close-Window me-0"></i>
                    </button>
    
                    <button 
                        type="button" 
                        class="btn btn-rounded btn-secondary"
                        (click)="handleModal(editEInvoicePopup)"
                    >
                        <i class="i-Pen-5 me-0"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="c-list">
            <ng-container *ngFor="let items of dataEInvoice; let i = index">
                <div class="item-type-1 grid-2x">
                    <div *ngFor="let item of items" class="box-info">
                        <div class="label">{{item.label}}</div>
                        <div class="value">{{item.value}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #editEInvoicePopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit E-invoice</h4>
        <button style="opacity: 0; pointer-events: none;" ngbAutoFocus></button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="eInvoiceForm" id="eInvoiceForm" (ngSubmit)="submitForm()">
            <div class="form-group required">
                <label>File name scheme</label>
                <input 
                    type="text" 
                    placeholder="File name scheme" 
                    class="form-control" 
                    formControlName="FileNameScheme"
                    [class.is-invalid]="isSubmitted && eInvoiceForm.get('FileNameScheme')?.errors"
                >
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group required">
                <label>Format type</label>
                <select
                    #option1
                    class="form-control" 
                    formControlName="FormatType"
                    [class.is-invalid]="isSubmitted && eInvoiceForm.get('FormatType')?.errors"
                    required
                >
                    <option value="" disabled selected hidden>Choose type</option>
                    <option value="option_1">Option 1</option>
                    <option value="option_1">Option 2</option>
                </select>

                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <div class="form-group required">
                <label>Destination type</label>
                <select
                    #option2
                    class="form-control" 
                    (change)="handleDestinationType($event)"
                    formControlName="DestinationType"
                    [class.is-invalid]="isSubmitted && eInvoiceForm.get('DestinationType')?.errors"
                    required
                >   
                    <option value="" disabled selected hidden>Choose type</option>
                    <option value="EmailLink">Email link</option>
                    <option value="EmailWithAttachment">Email with attachment</option>
                    <option value="FileSystem">File System</option>
                    <option value="FTP">FTP</option>
                </select>

                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>

            <h3 *ngIf="activeDestinationType.length" class="text-18 font-weight-600 mb-3">Destination parameters</h3>

            <ng-container *ngIf="activeDestinationType=='EmailLink'
                || activeDestinationType=='EmailWithAttachment'">
                <div class="form-group">
                    <label>To Email</label>
                    <input type="text" 
                           placeholder="Enter email"
                           formControlName="ToEmail"
                           class="form-control" 
                           id="toEmail" 
                           name="toEmail">
                </div>

                <div class="form-group">
                    <label>Cc</label>
                    <input type="text" 
                           placeholder="Enter cc" 
                           formControlName="Cc"
                           class="form-control" 
                           id="cc" 
                           name="cc">
                </div>

                <div class="form-group">
                    <label>Bcc</label>
                    <input type="text" 
                           placeholder="Enter bcc" 
                           class="form-control"
                           formControlName="Bcc"
                           id="bcc" 
                           name="bcc">
                </div>

                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" 
                           placeholder="Enter subject" 
                           class="form-control" 
                           formControlName="Subject"
                           id="subject" 
                           name="subject">
                </div>

                <div class="col-md-12 form-group">
                    <label>Body</label>
                    <textarea class="form-control form-control-rounded" 
                              placeholder="Text" 
                              formControlName="Body"
                              style="height: 56px"></textarea>
                </div>
            </ng-container>

            <ng-container *ngIf="activeDestinationType=='FileSystem'">
                <div class="form-group">
                    <label>File path</label>
                    <input type="text" 
                           placeholder="Enter file path" 
                           class="form-control" 
                           id="filePath"
                           formControlName="FilePath"
                           name="filePath">
                </div>
            </ng-container>

            <ng-container *ngIf="activeDestinationType=='FTP'">
                <div class="form-group">
                    <label>Server</label>
                    <input type="text" 
                           placeholder="Enter server" 
                           class="form-control" 
                           formControlName="Server"
                           id="server" 
                           name="server">
                </div>

                <div class="form-group">
                    <label>Port</label>
                    <input type="text" 
                           placeholder="Enter port" 
                           class="form-control" 
                           formControlName="Port"
                           id="port" 
                           name="port">
                </div>

                <div class="form-group">
                    <label>File path</label>
                    <input type="text" 
                           placeholder="Enter file path" 
                           formControlName="FilePath"
                           class="form-control" 
                           id="filePath" 
                           name="filePath">
                </div>

                <div class="form-group">
                    <label>User name</label>
                    <input type="text" 
                           placeholder="Enter user name" 
                           formControlName="UserName"
                           class="form-control" 
                           id="userName" 
                           name="userName">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="text" 
                           placeholder="Enter password" 
                           formControlName="Password"
                           class="form-control" 
                           id="password" 
                           name="password">
                </div>

                <label class="checkbox checkbox-primary text-13">
                    <input type="checkbox">
                    <span>Secured</span>
                    <span class="checkmark"></span>
                </label>
            </ng-container>
        </form>
    </div>

    <div class="modal-footer">
      <button 
            type="button" 
            class="btn btn-secondary btn-rounded" 
            (click)="resetForm()"
            tabindex="-1">
            Clear fields
        </button>

        <button 
            type="button"
            (click)="submitForm()"
            class="btn btn-primary btn-rounded"
            tabindex="-1">
            Save changes
        </button>
    </div>
</ng-template>
