<div class="c-card mb-4">
    <div class="c-card-body">
        <div class="c-header">
            <div class="c-title text-20">User statistics</div>

            <div class="c-actions">
                <button type="button" class="btn btn-rounded btn-secondary">
                    View more
                </button>
            </div>
        </div>

        <div class="c-list c-list-statistics">
            <div class="item-info">
                <div class="title">Today’s Login</div>
                <div class="body">
                    <i class="icon i-Conference"></i>
                    <span class="value">21</span>
                </div>
            </div>

            <div class="item-info">
                <div class="title">New Users</div>
                <div class="body">
                    <i class="icon i-Add-User"></i>
                    <span class="value">21</span>
                </div>
            </div>

            <div class="item-info">
                <div class="title">Active Users</div>
                <div class="body">
                    <i class="icon i-Checked-User"></i>
                    <span class="value">200</span>
                </div>
            </div>

            <div class="item-info">
                <div class="title">Users Updates</div>
                <div class="body">
                    <i class="icon i-Boy"></i>
                    <span class="value">200</span>
                </div>
            </div>
        </div>
    </div>
</div>
