<div class="c-card mb-4">
    <div class="c-card-body">
        <div class="c-header">
         
        </div>

        <div class="c-list c-list-statistics">
            <div class="item-info">
                  <a (click)="goToCustomers()" >
                <div class="title">{{'dashboard.customers' | translate }}</div>
                <div class="body">
                   <i class="icon i-Checked-User"></i>
                    <span  *ngIf="model" class="value">{{model.customerCount}}</span>
                </div>
                </a>
            </div>

        
            <div class="item-info">
                 <a (click)="goToSuppliers()" >
                <div class="title">{{'dashboard.suppliers' | translate }}</div>
                <div class="body">
                   <i class="icon i-Conference"></i>
                    <span  *ngIf="model" class="value">{{model.supplierCount}}</span>
                </div>
                </a>
            </div>

              <div class="item-info">
                 <a (click)="goToProducts()" >
                <div class="title">{{'dashboard.products' | translate }}</div>
                <div class="body">
                   <i class="icon i-Bag-Items"></i>
                    <span  *ngIf="model" class="value">{{model.productCount}}</span>
                </div>
                </a>
            </div>

             <div class="item-info">
                <a (click)="goToProducts()" >
                <div class="title">{{'dashboard.service' | translate }}</div>
                <div class="body">
                   <i class="icon i-Tag"></i>
                    <span  *ngIf="model" class="value">{{model.serviceProductCount}}</span>
                </div>
                </a>
            </div>


         
            
        </div>
    </div>
</div>
