<div class="breadcrumb">
    <h1>{{'category.categoryManagment' | translate}}</h1>
    <ul>
        <li>{{'navigation.production-products' | translate}}</li>
        <li><strong class="text-primary">{{'category.categoryManagment' | translate}}</strong></li>
    </ul>
</div>
<div class="custom-table-wrap">
    <div class="table-heading">
        <div class="table-search form-group">

            <input id="table-search"
                   placeholder="{{'category.search' | translate}}"
                   class="form-control"
                   type="text"
                   maxlength="100"
                   (keydown.enter)="onSearch($event)"
                   (change)="onSearch($event)">
        </div>
        <div class="heading-actions">
            <button type="button"
                    class="btn btn-rounded btn-primary"
                    (click)="onAddCategory()"
                    *ngIf="authService.hasPermission('Add-Category') ">
                <i class="i-Plus"></i>
                <span>{{('category.addCategory' | translate)}}</span>
            </button>
        </div>
    </div>

    <app-table [Headers]="columns"
               [dataSource]="dataSource"
               [actionList]="actionList"
               (EventHandler)="onHandleAction($event)"
               [PageSize]="baseSearch.pageSize"
               [TotalRecords]="totalCount"
               (PageChange)="onPageChange($event)">
    </app-table>
</div>


