/* You can add global styles to this file, and also import other style files */
@import "~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";
@import "~jsgantt-improved/dist/jsgantt.css";
.ltr-text 
{
    direction: ltr;
    unicode-bidi: bidi-override;
}
/* RTL Lists */
[dir=rtl] .table-heading .heading-actions 
{
    margin-left: unset;
    margin-right: auto;
}
/* RTL Table Numbers */
[dir=rtl] .table-footer-inner .table-pager 
{
    align-items: center;
    margin-left: unset;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.m-l {
    margin-left: auto;
}


.mr-1 {
    margin-right: 5px;
}

.image-max-height {
    max-height: 100px;
}


[dir=rtl]  .search-section 
{
    margin-left: unset;
    margin-right: auto;
}

 .search-section {
        margin-left: auto;
    }

