/* You can add global styles to this file, and also import other style files */
@import "~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";
@import "~jsgantt-improved/dist/jsgantt.css";

.ltr-text {
    direction: ltr;
    unicode-bidi: bidi-override;
}

/* RTL Lists */
[dir=rtl] .table-heading .heading-actions {
    margin-left: unset;
    margin-right: auto;
}

/* RTL Table Numbers */
[dir=rtl] .table-footer-inner .table-pager {
    align-items: center;
    margin-left: unset;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.m-l {
    margin-left: auto;
}


.mr-1 {
    margin-right: 5px;
}

.image-max-height {
    max-height: 100px;
}


[dir=rtl] .search-section {
    margin-left: unset;
    margin-right: auto;
}

.search-section {
    margin-left: auto;
}

.p-autocomplete-input {
    width: 100% !important;
    height: 32px;
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 17px;
    padding: 0.375rem 0.75rem;
}

.p-autocomplete.p-component.p-inputwrapper.p-inputwrapper-filled {
    width: 100%;
}



html[dir="rtl"] .custom-popup {
  text-align: right;
}

html[dir="ltr"] .custom-popup {
  text-align: left;
}

.remove-border-raduis {
      border-top-right-radius:0px;
      border-bottom-right-radius:0px;
}

.w-100 {
    width: 100%;
}

